<div class="link-item" data-name="{{link['title']}}">
    <div class="link-favicon">
        <a target="_blank" title="{{link['title']}}" href="{{link['url']}}"><img src="{{link['favicon']}}" onError="this.src='http://ico.ylsnuha.com/{{link['url']}}?defaulticon={{handler.avatar()}}';" alt="{{link['title']}}"/></a>
    </div>
    <div class="link-content">
        <a target="_blank" class="link-title" title="{{link['title']}}" href="{{link['url']}}">{{link['title']}}</a>
        <time><i class="icon-time"></i> {{locale.format_date(link['post_time'], -480, relative=False)}}</time>
        <div class="icons pull-right">
            <i class="icon-refresh link-refresh-btn"></i>
            <i class="icon-file-text link-read-btn"></i>
            <i class="icon-edit link-edit-btn"></i>
            <i class="icon-trash link-del-btn"></i>
        </div>
        <blockquote><p>{{link['description']}}</p></blockquote>
        <div class="link-note">{{link['note_html']}}</div>
        {% if len(link['tags']) > 0 %}
        <ul class="inline tags">
            {% for tag in link['tags'] %}
                <li class="label label-important"><a style="color:white;" href="/tag/1/{{tag}}"><i class="icon-tag icon-white"></i> {{tag}}</a></li>
            {% end %}
        </ul>
        {% end %}
    </div>
</div>