{% extends 'base.html' %}
{% block content %}
    <div class="tab-content">
        <div class="tab-pane active" id="1">
            {% block links_pane %}
            {% end %}
        </div>
        <div class="tab-pane" id="2">
            <div id="waterflowContainer"></div>
        </div>
        <div class="tab-pane" id="3">
            {% block tags_pane %}
            <div id="tagCloud" class="well">
            {% for tag in tags_cloud %}
                <a style="font-size:{{tag['font_size']}}pt" href="/tag/1/{{tag['tag']['_id']}}">{{tag['tag']['_id']}}({{tag['tag']['count']}})</a>
            {% end %}
            </div>
            {% end %}
        </div>
        <div class="tab-pane" id="4">
            <div id="randomBookmarks"></div>
        </div>
    </div>
{% end %}